<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="../bower_components/angular-material-icons/angular-material-icons.css">
    <!-- endbuild -->
  </head>
  <body ng-app="app">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <md-content>
        <md-toolbar class="md-hue-2" ng-controller="toolbarController" ng-cloak>
            <div class="md-toolbar-tools">
                <div class="logo">
                    <span>B</span>
                </div>
                <h2>Blue Bank</h2>
                <div class="div-input" ng-hide="$root.usuarioLogado != null">
                    <md-input-container class="md-input-container-tool" flex-gt-xs>
                        <label class="label-tool">Agência</label>
                        <input class="input-tool" ng-model="user.agencia">
                    </md-input-container>
                    <md-input-container class="md-input-container-tool" flex-gt-xs>
                        <label class="label-tool">Conta</label>
                        <input class="input-tool" ng-model="user.conta_corrente">
                    </md-input-container>
                    <md-input-container class="md-input-container-tool" flex-gt-xs>
                        <label class="label-tool">Senha</label>
                        <input class="input-tool" ng-model="user.password" type="password">
                    </md-input-container>
                </div>
                <div flex-gt-sm="20" ng-hide="$root.usuarioLogado != null">
                    <md-checkbox ng-model="user.lembrar" aria-label="Lembrar">
                        Lembrar
                    </md-checkbox>
                    <md-button ng-hide="$root.usuarioLogado != null" ng-click="logar(user)" class="md-raised">OK</md-button>
                </div>
                <div style="float: right; position: absolute; right: 10px; top: 15px; color: white;" ng-show="$root.usuarioLogado != null">
                    <span>{{$root.usuarioLogado.name}}, bem vindo!</span>
                    <md-button ng-click="logout()" md-no-ink class="md-primary">Logout</md-button>
                </div>
            </div>
        </md-toolbar>           
    </md-content>
    <md-content layout="column" layout-align="center center" ng-hide="$root.usuarioLogado != null">
        <div class="logoHome">
            <span>B</span>
        </div>
        <h1>Blue Bank - Seu Banco</h1>
    </md-content>   
    <md-content flex layout-padding>
        <div ui-view></div> 
    </md-content>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-material/angular-material.js"></script>
        <script src="../bower_components/angular-material-icons/angular-material-icons.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.js"></script>
        <script src="scripts/app.js"></script>

        <script src="scripts/services/userServices.js"></script>
        <script src="scripts/configs/routeConfig.js"></script>
        <script src="scripts/controllers/toolbarcontroller.js"></script>
        <script src="scripts/controllers/contentcontroller.js"></script>
        <!-- endbuild -->
</body>
</html>
